<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Présentation
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-padding">
        <!-- UN ELEMENT DE IONIC commence par ion- et on peut appliquer une couleur
        des variables de thème scss
        On trouve quasiment pour chacun, une série de classes
        css et d'attributs appropriés-->
        <ion-text color="primary"><h2>{{title}}</h2></ion-text>
        <!-- DEBUT LISTE -->
        <ion-list class="ion-text-lg-center" lines="none">

            <ion-list-header color="secondary">
                <ion-label>Fruits et légumes</ion-label>
            </ion-list-header>

            <ion-item-group>
                <ion-item-divider color="tertiary">
                    <ion-label>Légumes</ion-label>
                </ion-item-divider>
                <ion-item-sliding *ngFor="let elem of vegetables; index as i">
                    <ion-item>
                        <ion-label>{{elem.name}}</ion-label>
                        <ion-note>{{elem.price | currency: 'EUR'}}</ion-note>
                        <ion-item-options>
                            <ion-item-option color="light">
                                <ion-button (click)="deleteVegetable(i)">
                                    <ion-icon slot="icon-only" name="nuclear"></ion-icon>
                                </ion-button>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item>
                </ion-item-sliding>

            <ion-item-divider color="tertiary">
                <ion-label>Fruits</ion-label>
            </ion-item-divider>
            <ion-item-sliding *ngFor="let elem of fruits; index as i">
                <ion-item>
                    <ion-label>{{elem.name}}</ion-label>
                    <ion-note>{{elem.price | currency: 'EUR'}}</ion-note>
                    <ion-item-options>
                        <ion-item-option color="light">
                            <ion-button (click)="deleteFruit(i)">
                                <ion-icon slot="icon-only" name="nuclear"></ion-icon>
                            </ion-button>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item>
            </ion-item-sliding>
        </ion-item-group>
            <ion-item>
                <ion-item-divider color="primary">
                    <ion-label>Légumes</ion-label>
                </ion-item-divider>
                <!-- CHAMP NAME -->
                <ion-label position="floating">Nom :</ion-label>
                <ion-input name="name" [(ngModel)]="newVegetable.name" required autocorrect spellcheck type="text"
                           #name="ngModel" clearInput></ion-input>
                <ion-note color="danger" *ngIf="name.touched && name.errors">Nom est obligatoire</ion-note>
                <!-- CHAMP PRICE -->
                <ion-label position="floating">Prix :</ion-label>
                <ion-input name="price" [(ngModel)]="newVegetable.price" required minlength="3"
                           maxlength="15" autocorrect spellcheck type="text" clearInput></ion-input>
                <!-- VALIDATION -->
                <ion-button (click)="addVegetable()">Ajouter</ion-button>
            </ion-item>
            <ion-item>
                <ion-item-divider color="primary">
                    <ion-label>Fruit</ion-label>
                </ion-item-divider>
                <!-- CHAMP NAME -->
                <ion-label position="floating">Nom :</ion-label>
                <ion-input name="name" [(ngModel)]="newFruit.name" required autocorrect spellcheck type="text"
                           #name="ngModel" clearInput></ion-input>
                <ion-note color="danger" *ngIf="name.touched && name.errors">Nom est obligatoire</ion-note>
                <!-- CHAMP PRICE -->
                <ion-label position="floating">Prix :</ion-label>
                <ion-input name="price" [(ngModel)]="newFruit.price" required minlength="3"
                           maxlength="15" autocorrect spellcheck type="text" clearInput></ion-input>
                <!-- VALIDATION -->
                <ion-button (click)="addFruit()">Ajouter</ion-button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
